ganadores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ganadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ganador" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="año" type="xs:gYear"/>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="imagen" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
